.product-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f3e9e9;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #555;
}

.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #f3e9e9;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #555;
  resize: vertical;
}

.category-checkbox {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.category-checkbox input[type='checkbox'] {
  margin-right: 0.5rem;
}

.thumbnail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thumbnail-image {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropzone-wrapper {
  margin-left: 20px; /* Adjust the margin as needed */
}
.preview-image {
  max-width: 100%;
  max-height: 100%;
}
